.navbar {
  background: url("../img/header3.jpg") no-repeat 0 -22px;
  background-repeat: no-repeat;
}

section{
  margin-top: 180px;
}

#navbar{
  font-weight: bold;
  font-size: 20px;
}

#footer{

}
